*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/fondo2.png);
    background-position: top center;
     margin: 0;
    padding: 0;
}
.f{
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    text-align: right;
    font-size: 100%;
}
f2{
   display: inline-block;
   margin-left: 100px;
}
.btnu{
    text-align: center;
    margin-top: 100px;
    float: right;
    margin-right: 50px;
}
.tabla{
  border: 1px solid black;
  padding: 5px;
  background-color: aqua;
  border-collapse: collapse;
  width: 70%;
  
}
.tabla td {
  border: 2px solid black;
  padding: 8px;

}
.tabla th{
  border: 2px solid;
  
  padding: 5px;
}
.boton{
    background-color: aqua;
    font-size: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
     border: solid;
     border-color: black;
    
}
.Itexto{
    font-size: 120%;
    background-color:#9999FF;
    text-align: center;
}
.lb{
    font-size: 120%;
    color: aqua;
}
.lb1{
    font-size: 120%;
    color: black;
}
.sel{
    font-size: 120%;
    background-color:#9999FF;
    text-align: center;
    width: 150px;
}
.contenedor {
min-height: 100%;
height: 100%; 
} 

.ajustar{
    float: left;
}
