*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/731740.png);
    background-position: top center;
     margin: 0;
    padding: 0;
   
}
.fondo2{
    background-position: top center;
     margin: 0;
    padding: 0;
}
.boton{
    background-color: aqua;
    font-size: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
     border: solid;
     border-color: black;
    
}
.Itexto{
    font-size: 100%;
    background-color:#9999FF;
    text-align: center;
}
label{
    font-size: 120%;
    color: #9999FF;
    text-align: center;
}
.login{
    text-align: center;
   position: absolute;
   left: 50%;
   top: 70%;
   transform: translateX(-50%) translateY(-50%);
   color: #9999FF;
   font-size: 120%;
}
.logo{  
   margin-top: 50px;
   margin-left: 300px;
    width: 300px;
    text-align: center;

}
.margen{
    display: inline-block;
    float: left;
   margin-left: 0;

}
.margen1{
    margin-left: 50px;
    margin-top: 20px;
    text-justify: auto;
}
.tabla{
  border: 1px solid black;
  padding: 5px;
  background-color: aqua;
  border-collapse: collapse;
  width: 70%;
  
}
.tabla td {
  border: 2px solid black;
  padding: 8px;

}
.tabla th{
  border: 2px solid;
  
  padding: 5px;
}
div{
    text-align: left;
    display: inline-block;
}
.alinearI{
    float: right;
    margin-right: 10px;
}
.cliente{
    margin-left: 500px;
    margin-top: 150px;
 text-align: center;
    
}
.b_volver{
    float: right;
    margin-right: 250px;
    margin-top: 20px;
}
.boleta{
    margin-left: 50px;
  border: 1px solid black;
  padding-left: 15px;
  border-collapse: collapse;
  width: 70%;
  color: #3399ff;
  font-size: 120%;
 
}
.boleta td {
  border: 1px solid;
  color: #1f1f21;
  padding: 15px;

}
.boleta th{
  border: 1px solid;
  color: #9999FF;
  padding: 18px;
}
.f{
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
    text-align: right;
    font-size: 100%;
}
.adm{
    float: top;
    display: inline-block;
    margin-left: 500px;
   margin-top: 100px;
}
.btns{
    text-align: center;
    float: right;
    margin-top: 100px;
    margin-right: 100px;
 
}
.btnu{
    text-align: center;
    margin-top: 100px;
    float: right;
    margin-right: 50px;
}
.r{
  text-align: center;
   position: absolute;
   left: 50%;
   top: 60%;
   transform: translateX(-50%) translateY(-50%);
}
.lb1{
    font-size: 120%;
    color: black;
}
.txt_an{
    background-color: aqua;
    width: 1px;
    height: 1px;
}
